In [1]:
import pandas as pd
import numpy as np

C:\Users\Iqra\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
newdf = pd.DataFrame(np.random.rand(334,5), index=np.arange(334))

In [3]:
newdf

            0         1         2         3         4
0    0.188450  0.826374  0.532974  0.782485  0.018526
1    0.544096  0.670821  0.018865  0.686652  0.863550
2    0.887971  0.992812  0.674768  0.195802  0.930008
3    0.003657  0.287158  0.943806  0.212923  0.396790
4    0.455633  0.892294  0.589468  0.522816  0.276031
..        ...       ...       ...       ...       ...
329  0.530324  0.492566  0.550220  0.906821  0.995542
330  0.863499  0.987153  0.947861  0.543696  0.352365
331  0.864020  0.162201  0.215282  0.536163  0.006610
332  0.910462  0.452553  0.516389  0.480089  0.717290
333  0.488567  0.145066  0.543829  0.082605  0.386338

[334 rows x 5 columns]

In [4]:
newdf.columns = list("ABCDE")

In [5]:
newdf.to_csv("pandas.csv")

In [6]:
newdf

            A         B         C         D         E
0    0.188450  0.826374  0.532974  0.782485  0.018526
1    0.544096  0.670821  0.018865  0.686652  0.863550
2    0.887971  0.992812  0.674768  0.195802  0.930008
3    0.003657  0.287158  0.943806  0.212923  0.396790
4    0.455633  0.892294  0.589468  0.522816  0.276031
..        ...       ...       ...       ...       ...
329  0.530324  0.492566  0.550220  0.906821  0.995542
330  0.863499  0.987153  0.947861  0.543696  0.352365
331  0.864020  0.162201  0.215282  0.536163  0.006610
332  0.910462  0.452553  0.516389  0.480089  0.717290
333  0.488567  0.145066  0.543829  0.082605  0.386338

[334 rows x 5 columns]

In [7]:
# T is used to take transpose of a data set
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
A,0.188450,0.544096,0.887971,0.003657,0.455633,0.381695,0.739976,0.305155,0.513356,0.309173,...,0.093852,0.236624,0.541889,0.980517,0.024515,0.530324,0.863499,0.864020,0.910462,0.488567
B,0.826374,0.670821,0.992812,0.287158,0.892294,0.417532,0.534754,0.732002,0.840161,0.583843,...,0.469520,0.602566,0.168304,0.488229,0.768927,0.492566,0.987153,0.162201,0.452553,0.145066
C,0.532974,0.018865,0.674768,0.943806,0.589468,0.164799,0.130614,0.502016,0.584667,0.302616,...,0.984832,0.807883,0.650647,0.290156,0.946379,0.550220,0.947861,0.215282,0.516389,0.543829
D,0.782485,0.686652,0.195802,0.212923,0.522816,0.686075,0.364858,0.950269,0.616119,0.966607,...,0.536784,0.284121,0.692972,0.003404,0.759929,0.906821,0.543696,0.536163,0.480089,0.082605
E,0.018526,0.863550,0.930008,0.396790,0.276031,0.642215,0.560272,0.683560,0.100413,0.595468,...,0.473748,0.019364,0.699875,0.771600,0.219543,0.995542,0.352365,0.006610,0.717290,0.386338

In [8]:
newdf.loc[0,'F'] =  '0.500018'

In [9]:
newdf

            A         B         C         D         E         F
0    0.188450  0.826374  0.532974  0.782485  0.018526  0.500018
1    0.544096  0.670821  0.018865  0.686652  0.863550       NaN
2    0.887971  0.992812  0.674768  0.195802  0.930008       NaN
3    0.003657  0.287158  0.943806  0.212923  0.396790       NaN
4    0.455633  0.892294  0.589468  0.522816  0.276031       NaN
..        ...       ...       ...       ...       ...       ...
329  0.530324  0.492566  0.550220  0.906821  0.995542       NaN
330  0.863499  0.987153  0.947861  0.543696  0.352365       NaN
331  0.864020  0.162201  0.215282  0.536163  0.006610       NaN
332  0.910462  0.452553  0.516389  0.480089  0.717290       NaN
333  0.488567  0.145066  0.543829  0.082605  0.386338       NaN

[334 rows x 6 columns]

In [10]:
newdf = newdf.drop('F', axis=1)

In [11]:
newdf.loc[(newdf['A']<0.3 )&(newdf['C']<0.3 )]

            A         B         C         D         E
13   0.206307  0.845442  0.080913  0.897386  0.482891
40   0.172958  0.478991  0.242866  0.667373  0.744148
46   0.088318  0.603207  0.253321  0.909866  0.647750
52   0.287999  0.242697  0.108827  0.292429  0.772809
67   0.172096  0.360657  0.163932  0.142259  0.874761
78   0.235249  0.311401  0.096355  0.833527  0.233805
91   0.211595  0.715571  0.174493  0.744234  0.531423
94   0.251779  0.265155  0.259487  0.350715  0.547909
100  0.097883  0.534274  0.196948  0.024563  0.203809
111  0.294090  0.352068  0.248050  0.065474  0.839051
138  0.006765  0.304635  0.070317  0.526965  0.304882
149  0.165698  0.647783  0.216936  0.844613  0.841917
150  0.060343  0.988598  0.014870  0.137280  0.497494
167  0.022959  0.957127  0.298103  0.121484  0.095315
171  0.214897  0.855218  0.282735  0.959953  0.326400
176  0.002602  0.010073  0.208467  0.327534  0.856595
188  0.193479  0.492944  0.044546  0.328848  0.149152
193  0.280269  0.445501  0.054265  0.044494  0.969468
216  0.278095  0.744917  0.186805  0.526238  0.801173
223  0.120922  0.006784  0.123624  0.557566  0.066556
231  0.295816  0.571141  0.296044  0.736201  0.177627
243  0.083719  0.475699  0.094760  0.617791  0.072969
265  0.284067  0.415937  0.153922  0.773217  0.701484
267  0.005537  0.354060  0.152206  0.061065  0.881521
274  0.150320  0.927475  0.020917  0.687457  0.149642
320  0.213949  0.027668  0.067233  0.712463  0.484279

In [12]:
newdf.iloc[0,4]

0.018525849987128362

In [13]:
# To describe  a data set
newdf.describe()

                A           B           C           D           E
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.488412    0.510225    0.513777    0.512505    0.472515
std      0.284863    0.280952    0.292203    0.291932    0.282208
min      0.002602    0.006784    0.008422    0.002073    0.002213
25%      0.248838    0.272447    0.272831    0.245886    0.234050
50%      0.486490    0.514352    0.534326    0.521262    0.474682
75%      0.741073    0.759729    0.776754    0.769493    0.701303
max      0.991553    0.998275    0.997718    0.998142    0.995542

In [14]:
# The average value in each colunm
newdf.mean()

A    0.488412
B    0.510225
C    0.513777
D    0.512505
E    0.472515
dtype: float64

In [15]:
# It is the middle value of colunm if number is odd middle value is average 
#if it is ever then the sum of two middle values is median
newdf.median()

A    0.486490
B    0.514352
C    0.534326
D    0.521262
E    0.474682
dtype: float64

In [16]:
#
newdf.count()

A    334
B    334
C    334
D    334
E    334
dtype: int64

In [17]:
newdf.min()

A    0.002602
B    0.006784
C    0.008422
D    0.002073
E    0.002213
dtype: float64

In [18]:
newdf.max()

A    0.991553
B    0.998275
C    0.997718
D    0.998142
E    0.995542
dtype: float64

In [19]:
# Standerd Davitation
newdf.std()

A    0.284863
B    0.280952
C    0.292203
D    0.291932
E    0.282208
dtype: float64